<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <client>
      <!--使用basicHttpBinding-->
      <endpoint address ="http://ProfessionalWCFServer:80/HelloWorldService"
                binding="wsHttpBinding"
                contract="HelloWorldService.IService"
                behaviorConfiguration="MyConfiguration">
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MyConfiguration">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode ="PeerTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
