<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="HelloWorldService.Service">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/"></add>
          </baseAddresses>
        </host>
        <!--使用netNamedPipeBinding-->
        <endpoint address ="HelloWorldService" 
                  binding="netNamedPipeBinding"
                  bindingConfiguration="myBinding"
                  contract="HelloWorldService.IService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <!--设置netNamedPipeBinding的属性-->
      <netNamedPipeBinding>
        <binding name="myBinding"
             hostNameComparisonMode="StrongWildcard"
             maxBufferSize="65536"
             maxConnections="10"
             maxReceivedMessageSize="65536"
             receiveTimeout="00:01:00"
             transactionFlow="false">
          <security mode="Transport">
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>
