<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <client>
        <!--使用msmqIntegrationBinding-->
        <endpoint address ="net.formatname:DIRECT=OS:.\private$\Service" 
                  binding="msmqIntegrationBinding"
                  bindingConfiguration="myBinding"
                  contract="HelloWorldService.IService">
        </endpoint>
    </client>
    <bindings>
      <!--设置msmqIntegrationBinding的属性-->
      <msmqIntegrationBinding>
        <binding name="myBinding"
                 closeTimeout="00:00:10"
                 openTimeout="00:00:20"
                 receiveTimeout="00:00:30"
                 sendTimeout="00:00:40"
                 deadLetterQueue="net.msmq://ProfessionalWCFServer/DeadLetter"
                 durable="true"
                 exactlyOnce="true"
                 maxReceivedMessageSize="1000"
                 maxImmediateRetries="11"
                 maxRetryCycles="12"
                 poisonMessageHandling="Disabled"
                 rejectAfterLastRetry="false"
                 retryCycleDelay="00:05:55"
                 timeToLive="00:11:11"
                 useSourceJournal="true"
                 useMsmqTracing="true"
                 serializationFormat="Binary">
          <security mode="None" />
        </binding>
      </msmqIntegrationBinding>
    </bindings>
  </system.serviceModel>
</configuration>
