<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <client>
      <!--使用netMsmqBinding-->
      <endpoint address ="net.msmq://ProfessionalWCFServer/private/HelloWorldClient"
                binding="netMsmqBinding"
                bindingConfiguration="myBinding"
                contract="HelloWorldService.IClientService"
                name="NetMsmqHelloWorldClient">
      </endpoint>
    </client>
    <services>
      <service name="HelloWorldService.Service">
        <!--使用netMsmqBinding-->
        <endpoint address ="net.msmq://ProfessionalWCFServer/private/HelloWorldServer" 
                  binding="netMsmqBinding"
                  bindingConfiguration="myBinding"
                  contract="HelloWorldService.IServerService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <!--设置netMsmqBinding的属性-->
      <netMsmqBinding>
        <binding name="myBinding"
                 closeTimeout="00:00:10"
                 openTimeout="00:00:20"
                 receiveTimeout="00:00:30"
                 sendTimeout="00:00:40"
                 deadLetterQueue="net.msmq://ProfessionalWCFServer/DeadLetter"
                 durable="true"
                 exactlyOnce="true"
                 maxMessageSize="1000"
                 maxRetries="11"
                 maxRetryCycles="12"
                 poisonMessageHandling="Disabled"
                 rejectAfterLastRetry="false"
                 retryCycleDelay="00:05:55"
                 timeToLive="00:11:11"
                 sourceJournal="true"
                 useMsmqTracing="true"
                 useActiveDirectory="true">
          <security>
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>
