<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 配置绑定、契约、地址-->
  <system.serviceModel>
    <services>
      <service name="WCF.Third.EventPublisher">
        <host>
          <baseAddresses>
            <add baseAddress = "net.pipe://localhost/" />
          </baseAddresses>
        </host>
        <endpoint address ="EventService" binding="netNamedPipeBinding" contract="WCF.Third.IEventPublisher">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
