<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="HelloWorldService.Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://ProfessionalWCFServer:80/"></add>
          </baseAddresses>
        </host>
        <!--使用wsDualHttpBinding-->
        <endpoint address ="HelloWorldService" 
                  binding="wsDualHttpBinding" 
                  bindingConfiguration="myBinding"
                  contract="HelloWorldService.IService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <!--设置wsDualHttpBinding的属性-->
      <wsDualHttpBinding>
        <binding name="myBinding"
            closeTimeout="00:00:10"
            openTimeout="00:00:20"
            receiveTimeout="00:00:30"
            sendTimeout="00:00:40"
            bypassProxyOnLocal="false"
            transactionFlow="true"
            hostNameComparisonMode="WeakWildcard"
            maxReceivedMessageSize="1000"
            messageEncoding="Mtom"
            proxyAddress="http://ProfessionalWCF/proxy"
            textEncoding="utf-16"
            useDefaultWebProxy="false">
          <reliableSession ordered="false"
              inactivityTimeout="00:02:00" />
          <security mode="None">
            <message clientCredentialType="None"
                negotiateServiceCredential="false"
                algorithmSuite="Aes128" />
          </security>
        </binding>
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
