<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="HelloWorldService.Service">
        <endpoint address ="HelloWorld" 
                  binding="netNamedPipeBinding" 
                  contract="HelloWorldService.IService">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
