<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Workflows.Properties.Settings.ASPNETDBConnectionString"
   connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;D:\书籍稿件\精通WPF\SoruceCode\C30\WorkflowApprovalDemo\WorkflowApprovalDemo\Web Form Workflow Approvals Website\App_Data\ASPNETDB.MDF&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>