<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 配置绑定、契约、地址-->
  <system.serviceModel>
    <services>
      <service name="WCF.Fourth.Service" behaviorConfiguration="MyBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8675/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <endpoint address ="Service" binding="wsHttpBinding" 
                  bindingConfiguration="myBinding" 
                  contract="WCF.Fourth.IService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="myBinding"
                 transactionFlow="true">
          
        </binding>
      </wsHttpBinding>
    </bindings>
    <!--这里配置元数据的交互方式，这里使用HTTP-GET方式-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
