<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="HelloWorldService.Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://ProfessionalWCFServer:80/"></add>
          </baseAddresses>
        </host>
        <!--使用basicHttpBinding-->
        <endpoint address ="HelloWorldService" 
                  binding="basicHttpBinding"
                  bindingConfiguration="myBinding"
                  contract="HelloWorldService.IService">
        </endpoint>
      </service>
    </services>
    <bindings>
      <!--设置basicHttpBinding的属性-->
      <basicHttpBinding>
        <binding name="myBinding"
               hostNameComparisonMode="StrongWildcard"
               receiveTimeout="00:10:00"
               sendTimeout="00:10:00"
               openTimeout="00:10:00"
               closeTimeout="00:10:00"
               maxMessageSize="65536"
               maxBufferSize="65536"
               maxBufferPoolSize="524288"
               transferMode="Buffered"
               messageEncoding="Text"
               textEncoding="utf-8"
               bypassProxyOnLocal="false"
               useDefaultWebProxy="true" >
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
