xml version=1.0 encoding=utf-8 
configuration
  system.web
    compilation debug=true 
  system.web
  !-- ≈‰÷√∞Û∂®°¢∆ı‘º°¢µÿ÷∑--
  system.serviceModel
    services
      service name=WCF.Fifth.Service behaviorConfiguration=MyBehavior
        host
          baseAddresses
            add baseAddress = net.tcplocalhost8675 
          baseAddresses
        host
        endpoint address =Service binding=netTcpBinding contract=WCF.Fifth.IService
        endpoint
        endpoint address=MEX binding=mexTcpBinding contract=IMetadataExchangeendpoint
      service
    services
    behaviors
      serviceBehaviors
        behavior name=MyBehavior
          serviceDebug includeExceptionDetailInFaults=true
          serviceMetadata
          serviceCredentials
            userNameAuthentication userNamePasswordValidationMode=MembershipProvider
                                    membershipProviderName=AspNetSqlMembershipProvider
          serviceCredentials
        behavior
      serviceBehaviors
    behaviors
  system.serviceModel
configuration
