<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 配置绑定、契约、地址-->
  <system.serviceModel>
    <services>
      <service name="WCF.Fourth.Service">
        <host>
          <baseAddresses>
            <add baseAddress = "net.pipe://localhost/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address ="Service" binding="netNamedPipeBinding" contract="WCF.Fourth.IService">
        </endpoint>
      </service>
    </services>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMessagesAtServiceLevel="true"
                      maxMessagesToLog="4000" />
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="log.xml"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
