<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WorkflowRuntime"
    type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection,
System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral,
PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <WorkflowRuntime>
    <CommonParameters>
      <!--添加所有工作流实例都可用的通用参数-->
      <add name="ConnectionString"
      value="Initial Catalog=WorkflowTracking;
Data Source=localhost;
Integrated Security=SSPI;" />
    </CommonParameters>
    <Services>
      <!--在这里添加核心服务-->
      <add type="System.Workflow.Runtime.Tracking.SqlTrackingService,
System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral,
PublicKeyToken=31bf3856ad364e35"/>
    </Services>
  </WorkflowRuntime>
</configuration>